<div class="card">
    <div class="card__hero">
        <img src="/{%IMAGE%}" alt="{%PRODUCTNAME%}" class="card__img">
    </div>
    <h2 class="card__name">{%PRODUCTNAME%}</h2>
    <p class="card__detail"><span class="emoji-left">&#128306</span>{%SCREEN%}</p>
    <p class="card__detail"><span class="emoji-left">&#128241</span>{%CPU%}</p>
    <div class="card__footer">
        <p class="card__price">₦{%PRICE%}</p>
        <a href="/computer?id={%ID%}" class="card__link">See More>></a>
    </div>
</div>
